main{
    display:flex;
    flex-direction: row;
    background-color: aquamarine;
    height:500px;   /*потом переделать*/
    width:80%;      /*потом переделать*/
}

#date{
    margin:10px;
    height:50px;
    width:100px;
}

#hour_container{
    background-color: aliceblue;
    margin:10px;
    height:400px;
    width:82%;
}