main{
    display:flex;
    flex-direction: row;
    background-color: aquamarine;
    height:500px;   
    width:80%;      
}

#date{
    margin:10px;
    height:50px;
    width:100px;
    border-radius: 4px 0 4px 0;
}

#hour_container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: aliceblue;
    border: 1px solid #3d3c3c;
    border-radius: 4px 0 4px 0;
    margin:10px;
    padding:20px 0px 20px 150px;
    height:400px;
    width:82%;
    overflow:scroll;
    overflow-x:hidden;
    max-height: 400px;
}

.line{
    display:flex;
    background-color: rgb(102, 101, 101);
    height:3px;
    width:80%;
    margin-top:40px;
}

.smallLine{
    background-color: rgb(102, 101, 101);
    height:1px;
    width:80%;
    margin-top:20px;
    margin-bottom:20px;
}

.textHour{
    position:relative;
    bottom:54px;
    right:20px;
    width:0px;
}

.inputStyle{
    position:relative;
    bottom:33px;
    height:20px;
    width:30px;
    color:black;
}

#create_container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 20px;
    position:absolute;
    background-color: aqua;
    padding:30px;
    height:70%;
    width:70%;
    top:10%;
    left:10%;
}

#description-container{
    display:flex;
    flex-direction: column;
}

#time{
    height:30px;
    width:100px;
}

#title{
    width:400px;
    height:40px;
}

#description{
    width:400px;
    height:100%;
    margin-top:20px;
}