html {
  scroll-behavior: smooth;
}

header {
    background-color: #f0f0f0;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

#header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height:50px;
}

#logo {
    display: flex;
    align-items: center; 
    text-decoration: none;
    color: #333;
    width: 50px;
    margin-right: 10px;
}

img {
    width: 50px;
    margin-right: 10px;
}

h1 {
    font-weight: bold;
}

#logo_button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#logo_button:hover {
    background-color: #3e8e41;
}


#discription_container{
    background-image: url("https://avatars.mds.yandex.net/i?id=2a3c185a4a899ef74b38a2ccba0e6afbbe9052c527d298c6-12575309-images-thumbs&n=13");
    background-size:cover;
    height:500px;
    width:99%;
    filter: grayscale(80%);
}

#discription_text{
    margin-left:20px;
    margin-top: 100px;
    color:rgb(0, 0, 0);
}

main{
    display:flex;
    flex-direction: row;
    background-color: aquamarine;
    height:500px;   
    width:99%;      
}

#date{
    margin:10px;
    height:50px;
    width:100px;
    border-radius: 4px 0 4px 0;
}

#task_container{
    display:flex;
    flex-direction: column;
    background-color: aliceblue;
    border: 1px solid #3d3c3c;
    margin:10px;
    height:400px;
    width:82%;
    overflow:scroll;
    overflow-x:hidden;
    max-height: 400px;
}

#plus{
    position:absolute;
    top:900px;
    right:100px;
    height:30px;
    width:30px;
    margin-top:20px;
    margin-left:20px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/More_Icon_C.svg/640px-More_Icon_C.svg.png");
    background-size:cover;
    cursor: pointer;
    transition: .5s;
    z-index: 100;
}

#plus:hover{
    box-shadow: 0px 0px 10px green;
    transition: .5s;
}

#create_container{
    position:fixed;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border:3px black solid;
    border-radius: 20px;
    background-color: rgb(172, 255, 255);
    padding:30px;
    height:70%;
    width:70%;
    top:10%;
    left:10%;
}

#description_container{
    display:flex;
    flex-direction: column;
}

#cross{
    position:absolute;
    top:-10px;
    right:-10px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/White_x_in_red_rounded_square.svg/1200px-White_x_in_red_rounded_square.svg.png");
    background-size:cover;
    height:30px;
    width:30px;
    cursor: pointer;
    transition: .5s;
}

#cross:hover{
    box-shadow: 0px 0px 10px red;
    transition: .5s;
}

.time{
    height:30px;
    width:100px;
}

#title{
    width:400px;
    height:40px;
}

#description{
    width:400px;
    height:70%;
    margin-top:20px;
    resize:none;
}

#boton{
    background-color:rgb(71, 228, 228);
    position:absolute;
    bottom:20px;
    height:40px;
    width:100px;
    cursor: pointer;
    transition: .5s;
}

#boton:hover{
    box-shadow: 0px 0px 10px black;
    transition: .5s;
}

.task{
    position: relative;
    display:flex;
    background-color: rgb(235, 231, 226);
    border:1px solid black;
    height:50px;
    width:99%;
}

.task_title{
    margin-left:20px;
}

.task_cross{
    position: absolute;
    top:10px;
    right:10px;
    left:450px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/White_x_in_red_rounded_square.svg/1200px-White_x_in_red_rounded_square.svg.png");
    background-size:cover;
    height:30px;
    width:30px;
    cursor: pointer;
}
.task_cross:hover{
    box-shadow: 0px 0px 10px black;
    transition: .5s;
}
.task_clue{
    position:relative;
    top:50px;
    border:black solid 1px;
    height:20px;
    opacity:.5;
    z-index: 7;
}